<div class="footer">
  <div class="text-footer">
    <div>Copyright © 2024. Tous droit réservés</div>
    <br />
    <div>Merletti Sacha</div>
  </div>
  <div>
    <div class="logos">
      <a
        href="https://www.linkedin.com/in/sacha-merletti-840644256/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="logo_link"
          src="../../../assets/svg/linkedin.svg"
          alt="logo_linkedin"
        />
      </a>
      <a
        href="https://github.com/Skiioo"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="logo_git_hub"
          src="../../../assets/svg/github.svg"
          alt="logo_git_hub"
        />
      </a>
    </div>
  </div>
</div>
