<div class="navbar">
  <div class="div-logo">
    <img
      class="logo"
      routerLink="/home"
      src="../../../assets/img/new logo.png"
      alt="Logo"
    />
  </div>
  <div class="nav">
    <div class="lien Accueil animeAcceuils" routerLink="/home">
      À propos de moi
    </div>
    <div class="lien Accueil animeAcceuils" routerLink="/realisation">
      Réalisation
    </div>
    <div class="lien Accueil animeAcceuils" routerLink="/competences">
      Compétences
    </div>
    <div class="lien Accueil animeAcceuils" routerLink="/contact">Contact</div>
    <a
      class="lien Accueil animeAcceuilsx"
      href="../../../assets/img/MERLETTI_Sacha_CV.png"
      target="_blank"
    >
      Mon CV
    </a>
  </div>
  <button (click)="isMenuOpen = !isMenuOpen" class="burger">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="menu" [class.open]="isMenuOpen">
    <div class="container-menu">
      <div class="button-menu" routerLink="/home" (click)="isMenuOpen = false">
        À propos de moi
      </div>
      <div
        class="button-menu"
        routerLink="/realisation"
        (click)="isMenuOpen = false"
      >
        Réalisation
      </div>
      <div
        class="button-menu"
        routerLink="/competences"
        (click)="isMenuOpen = false"
      >
        Compétences
      </div>
      <div
        class="button-menu"
        routerLink="/contact"
        (click)="isMenuOpen = false"
      >
        Contact
      </div>
      <a
        class="button-menu"
        href="../../../assets/img/MERLETTI_Sacha_CV.png"
        target="_blank"
      >
        Mon CV
      </a>
    </div>
  </div>
</div>
