<div class="navbar">
  <div>
    <img
      class="logo"
      routerLink="/home"
      src="../../../assets/img/new logo.png"
      alt="Logo"
    />
  </div>
  <div class="nav">
    <div class="lien Accueil animeAcceuils" routerLink="/home">Acceuil</div>
    <div class="lien Accueil animeAcceuils" routerLink="/realisation">
      Réalisation
    </div>
    <div class="lien Accueil animeAcceuils" routerLink="/competences">
      Compétences
    </div>
    <div class="lien Accueil animeAcceuils" routerLink="/contact">Contact</div>
    <div class="lien Accueil animeAcceuilsx">Mon CV</div>
  </div>
</div>
