<div class="titre-real">Me contacter</div>
<div class="div-contact">
  <div class="email">merletti.sacha&#64;gmail.com</div>
  <div class="num">06 31 80 27 58</div>
  <div class="logos">
    <div class="linkedin">
      <a
        href="https://www.linkedin.com/in/sacha-merletti-840644256/"
        target="_blank"
      >
        <img src="../../../assets/img/likedin_noir.png" alt="logo_linkedin"
      /></a>
    </div>
    <div class="github">
      <a href="https://github.com/Skiioo" target="_blank">
        <img
          src="../../../assets/img/iconmonstr-github-1-240.png"
          alt="logo_github"
        />
      </a>
    </div>
  </div>
</div>
