<div class="bg-overlay">
  <div class="overlay">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      "
    >
      <div style="width: 50%; height: 100%">
        <div
          #rendererContainer
          style="height: 100%; margin-top: 150px; border-radius: 20px"
        ></div>
        <button
          (click)="toggleRotation()"
          class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Stopper ou activer la Rotation
        </button>
      </div>
      <div
        style="
          width: 50%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 249px;
        "
      ></div>
    </div>
  </div>
</div>
