<div class="titre-real">Projet Universitaire</div>
<div class="div-container">
  <div class="container">
    <div class="item1 items">
      <div class="text">Affiche d'artiste</div>
      <div class="background bg1"></div>
      <div class="overlay"></div>
    </div>
    <div class="item2 items">
      <div class="text">Créaation de magzine</div>
      <div class="background bg2"></div>
      <div class="overlay"></div>
    </div>

    <div class="item3 items">
      <div class="text">Publicité</div>
      <div class="background bg3"></div>
      <div class="overlay"></div>
    </div>
    <div class="item4 items">
      <div class="text">Web Documentaire</div>
      <div class="background bg4"></div>
      <div class="overlay"></div>
    </div>
    <div class="item5 items">
      <div class="text">Site ThreeJS</div>
      <div class="background bg5"></div>
      <div class="overlay"></div>
    </div>
    <div class="item6 items">
      <div class="text">Three Sushi</div>
      <div class="background bg6"></div>
      <div class="overlay"></div>
    </div>
  </div>
</div>
