<div class="titre-real">Affiche d'artiste</div>

<div class="container">
  <app-slider-affiche [items]="sliderItems"></app-slider-affiche>
  <div class="texte">
    <p>
      Ce travail consistait à réaliser des affiches d'artiste avec différents
      cadrages et une position du texte différentes. Pour cela, j'ai utilisé le
      logiciel Illustrator.
    </p>
    <br />
    <p>
      Ce travail m'a permis de mieux comprendre comment harmoniser le texte avec
      une image de fond.
    </p>
  </div>
</div>
