<div class="blockprés">
  <div class="blocknomprenom">
    <span class="présnomprenom" data-aos="fade-up" data-aos-duration="1000"
      >Sacha</span
    >
    <br />
    <span class="présnomprenom" data-aos="fade-up" data-aos-duration="2000"
      >MERLETTI</span
    >
    <br />
    <span class="présnomprenom" data-aos="fade-up" data-aos-duration="3000"
      >Web Developper</span
    >
  </div>
  <div class="imgprés">
    <img
      src="../../../assets/img/IMG_5651.jpg"
      alt=""
      data-aos="fade-up"
      data-aos-duration="2500"
    />
  </div>
</div>
<div
  id="text-pres"
  class="div-arrow"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <svg
    class="arrow_down_home"
    viewBox="0 0 24 24"
    fill="none"
    data-aos="fade-down"
    xmlns="http://www.w3.org/2000/svg"
    style="cursor: pointer"
    (click)="scrollToBottom()"
    (click)="stopAnimation()"
  >
    <path
      d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502"
      stroke="#292D32"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

<div
  class="text-pres"
  data-aos="fade-up"
  data-aos-duration="1500"
  data-aos-once="true"
>
  <h1>Qui suis-je ?</h1>
  <p>
    Je suis Sacha Merletti, passionné par le développement web, je suis
    actuellement en deuxième année d'une BUT en Métiers du Multimédia et de
    l'Internet. <br />
    <br />
    Je suis actuellement à la recherche d'un stage rémunéré de 10 semaines
    minimum à partir du 1 avril 2024 . <br />Je sais coder en HTML, CSS et PHP.
    J'utilise des techno comme REACT et Angular. <br />
    <br />
    En visitant mon site fait avec Angular, vous pourrez voir mes projets et mes
    compétences. <br /><br />
    Bonne visite !
  </p>
</div>
