<div class="titre-real">Mes compétences</div>
<div class="container">
  <h1>Front-End :</h1>
  <div class="competences">
    <div class="anim1">HTML</div>
    <div class="anim2">CSS</div>
    <div class="anim3">JS</div>
    <div class="anim4">BOOTSTRAP</div>
    <div class="anim5">TAILWIND</div>
    <div class="anim6">REACT</div>
    <div class="anim7">ANGULAR</div>
  </div>
</div>
<div class="container div2">
  <h1>Back - End :</h1>
  <div class="competences">
    <div class="anim2">PHP</div>
    <div class="anim3">MySQL</div>
    <div class="anim4">WordPress</div>
  </div>
</div>
<div class="container div2">
  <h1>Suite Adobe :</h1>
  <div class="competences">
    <div class="anim1">Illustrator</div>
    <div class="anim2">After Effect</div>
    <div class="anim3">Premier Pro</div>
    <div class="anim4">Photoshop</div>
    <div class="anim5">InDesign</div>
  </div>
</div>
