.titre-real {
  font-family: "Righteous";
  width: fit-content;
  margin: 100px auto 50px;
  font-size: clamp(2em, 4vw, 2.5em);
}

.div-big-button {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 250px;
}
.big-button-real {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border-color: black;
  border-style: solid;
  text-decoration: none;
  color: black;
  background-color: white;
  border-width: 2px;
}
.big-button-real:hover {
  transform: translate(1rem, 1rem);
  box-shadow: none;
  cursor: pointer;
}
.button1 {
  transition-duration: 0.2s;
  margin-right: 200px;
  box-shadow: 26px 24px 0px -3px rgba(0, 0, 0, 0.3);
}
.button1:hover {
  transform: translate(1.5rem, 1.5rem);
  box-shadow: none;
}
.button2 {
  transition-duration: 0.2s;
  box-shadow: 26px 24px 0px -3px rgba(0, 0, 0, 0.3);
}

.titre_projet {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 115px;
  font-family: "Righteous";
  font-size: 25px;
}

@media (max-width: 1000px) {
  .div-big-button {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 250px;
    gap: 50px;
  }
  .big-button-real {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    color: black;
    background-color: white;
    border-width: 2px;
  }
  .big-button-real:hover {
    transform: translate(1rem, 1rem);
    box-shadow: none;
    cursor: pointer;
  }
  .button1 {
    transition-duration: 0.2s;
    box-shadow: 26px 24px 0px -3px rgba(0, 0, 0, 0.3);
  }
  .button1:hover {
    transform: translate(1.5rem, 1.5rem);
    box-shadow: none;
  }
  .button2 {
    transition-duration: 0.2s;
    box-shadow: 26px 24px 0px -3px rgba(0, 0, 0, 0.3);
  }
  .titre_projet {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 115px;
    font-family: "Righteous";
    font-size: 25px;
  }
}
