<div class="titre-real">Blender</div>

<div class="container">
  <img src="../../../../assets/img/Bar.png" alt="Projet_blender" />
  <div class="texte">
    <p>
      Je suis très fière de ce projet, d'une part, car je l'ais réalise en
      autodidacte, et d'autre part, car il m'a permis de découvrir un logiciel
      très puissant et très complet
    </p>
    <br />
    <p>
      Donc ce projet est la représentation d'une scène isométrique d'un bar avec
      différentes textures, comme du bois ou du verre. Il y a aussi des jeux de
      lumières pour mettre en avant la scènes. Ce projet m'a permis prendre en
      main le logiciel Blender.
    </p>
  </div>
</div>
<div class="model">
  <app-models></app-models>
</div>
