<div class="titre-real">Magazine</div>
<div class="container">
  <app-slider-magazin [items]="sliderItems"> </app-slider-magazin>
  <div class="texte">
    <p>
      Ce travail consistait à réaliser 4 pages de magazine ou plus avec du texte
      de substitution. Dans un premier temps, j'ai réfléchi au thème de mon
      magazine, pour ensuite sélectionner les articles que je voulais afficher.
    </p>
    <br />
    <p>
      Ensuite, j'ai utilisé Photoshop pour détourer les articles pour les
      inclure dans mon magazine dans InDesign. Ce projet m'a permis de prendre
      en main InDesign ainsi que Photoshop et il m'a appris les notions
      principales utile pour de la mise en page de magazine.
    </p>
  </div>
</div>
