<div class="titre-real">Publicité</div>
<div class="container">
  <video
    class="video"
    src="../../../../assets/vidéo/Pub_apple.mp4"
    controls
    autoplay
    muted
    loop
    preload="auto"
    poster="posterimage.jpg"
  ></video>
  <div class="texte">
    <p>
      Cette pub a été réalisée avec le logiciel After Effect. Les contraintes
      étaient d'inclure de la 3D dans le rendu After Effect.
    </p>
    <br />
    <p>
      J'ai donc choisi le marque Samsung pour faire la publicité du galaxy
      Z-Flip 5. <br />
      Ce projet m'a permis de mieux prendre en main le logiciel et d'approfondir
      mais compétences dans ce domaine.
    </p>
  </div>
</div>
